/* ==== root ==== */

.appFormRoot {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100dvh - 124px);
    max-width: 1200px;
    color: white;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
        height: auto;
        margin-bottom: 6rem;
        height: fit-content;
    }
}

.mainTitle {
    line-height: normal;
    font-size: 29px;
    font-weight: 600;
}

.appFormWrapper {
    /* used to crop scrol bar */
    display: flex;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    border: 1px solid var(--border-neutral-tertiary);
    background-color: var(--neutral-900);
    border-radius: 12px;
}

.reviewPageWrapper {
    max-width: none;
}

.reviewPageWrapper .appFormWrapper {
    background-color: transparent;
    border: none;
}

.appFormContent {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0;

    width: 100%;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--border-neutral-secondary) transparent;

    overflow-y: auto;
}

/* ==== shared ==== */

.title {
    font-size: 14px;
}

.description {
    font-weight: 300;
    font-size: 12px;
    max-width: 480px;
    color: var(--text-secondary);
}

.mainDescription {
    font-size: 16px;
}

.ver {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    width: 480px;
}

.submissionForm .ver {
    max-width: 100%;
    width: 100%;
}

.submissionForm .ver * {
    max-width: 100% !important;
}

.hor {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* ==== page ====*/

.page {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formContainer {
    position: relative;
    flex: 1;
}

/* ==== page buttons */
.pageButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.prevButton {
    background-color: var(--neutral-700);
}

.nextButton {
    background-color: var(--brand-700);
}

.homeButton {
    padding: 12px;
    font-size: 16px;
    align-self: flex-start;
    display: flex;
    gap: 0.75rem;
    border-radius: 8px;
}

.homeButton:hover {
    background-color: var(--neutral-800);
    transition: background-color 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
    .page {
        padding-bottom: 24px;
    }
}

/* mobile */
@media only screen and (max-width: 767.5px) {
    .appFormRoot {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .appFormWrapper {
        overflow: visible;
        padding: 10px;
        padding-top: 0px;
    }

    .appFormContent {
        overflow: visible;
    }

    .ver {
        width: 100% !important;
        scroll-margin-top: 1.5rem;
    }

    .page {
        padding: 0;
        padding-bottom: 1rem;
        gap: 25px;
    }
}

/* for injected html */
.htmlHolder {
    /* maybe change this, inline for usable in title/descripts */
    display: inline;
}

.htmlHolder a {
    text-decoration: underline;
    color: var(--text-brand-primary);

    transition: filter 300ms ease-out;
}

.htmlHolder a:hover,
.htmlHolder a:focus {
    filter: brightness(1.2);
}

.htmlHolder a:visited {
    color: var(--brand-700);
}
