.label::before {
    content: '';
    display: inline-block;

    width: 16px;
    height: 16px;

    border-radius: 4px;
    border: 1px solid #525252;

    background-color: #262626;
    background-size: 12px 12px;
    background-position: center center;

    transition: all ease-out 400ms;

    box-sizing: border-box;

    cursor: pointer;
}

.label:hover::before {
    filter: brightness(1.2);
}

.label:active::before {
    filter: brightness(0.9);
}

.label:has(input:checked)::before {
    background-color: #6466f1;
    border-color: #6466f1;
    background-image: url('/icons/check.svg');
    background-size: 12px 12px;
    background-position: center center;
}

.label:has(input:disabled)::before {
    background-color: grey;
    cursor: not-allowed;
}

.label {
    line-height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

    border: 1px solid var(--border-neutral-secondary);
    border-radius: 8px;
    background-color: var(--background-neutral-secondary);

    width: auto;
    max-width: 400px;

    color: white;
}

.label:has(input:checked) {
    background-color: var(--background-brand-focus);
    border-color: var(--border-brand-primary);
}

.check {
    appearance: none;
    margin-right: 12px;
}
