.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    width: auto;
    max-width: 400px;
    padding-bottom: 20px;
}

.optionsContainer:has(label:has(input:user-invalid)) {
    border: 2px solid var(--danger-500);
}

.optionsContainer:has(label:has(input:user-invalid))::after {
    content: 'Required, please make a selection';
    color: var(--danger-500);
}

.optionLabel {
    border: 1px solid var(--border-neutral-secondary);
    background-color: var(--background-neutral-secondary);
    border-radius: 8px;
    padding: 12px;
    color: white;
    min-width: 200px;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: normal;
    transition: background-color 400ms ease-out;
    height: 48px;
}

.optionLabel:has(input:checked) {
    background-color: var(--background-brand-focus);
    border-color: var(--border-brand-primary);
}

.optionLabel:hover::before {
    filter: brightness(1.2);
}
.optionLabel:active::before {
    filter: brightness(0.95);
}

.optionLabel::before {
    content: '';
    display: block;
    /* Draw a filled circle with css */
    border-radius: 50%;
    border: 1px solid var(--border-neutral-secondary);

    width: 16px;
    height: 16px;
    box-sizing: border-box;
    margin-right: 12px;

    transition:
        border-color 400ms ease-out,
        filter 400ms ease-out;
}

.optionLabel:has(input:checked)::before {
    border-color: var(--outline-brand-primary);
    border-width: 6px;
    background-color: white;
}

.radio {
    appearance: none;
}

/* 
1. no shows, with missing team members
2. 


*/
