.calendarRenderRoot {
    /* to provide positioning reference for all children */
    position: relative;

    width: 100%;
    min-width: 700px;
    min-height: 400px;
    height: 100%;
    display: flex;

    color: var(--text-regular);
}

.calendarContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    --borderSpec: 1px solid grey;
    border: var(--borderSpec);
    border-radius: 10px;
    box-sizing: border-box;

    overflow: hidden;
}

/* Week title row */
.weekdayNameRow {
    display: flex;
    flex-direction: row;
    height: 24px;

    box-sizing: border-box;
    border-bottom: var(--borderSpec);
}

.weekdayName {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    flex: 1;
    color: var(--text-secondary);
    box-sizing: border-box;
}
.weekdayName:last-child {
    border-color: transparent;
}

/* Month day rows/items */
.monthDayRow {
    display: flex;
    flex-direction: row;

    flex: 1;

    box-sizing: border-box;
    border-bottom: var(--borderSpec);
}

.monthDayRow:last-child {
    border: none;
}

.monthDayItem {
    flex: 1;
    position: relative;
    /* min-width:0 makes the flex item not expand beyond space allocated by flex, somehow
    https://stackoverflow.com/a/66689926
    */
    min-width: 0;

    box-sizing: border-box;
    border-right: var(--borderSpec);

    background-color: var(--background-sunkan);
    transition: background-color 400ms ease-out;
}

.monthDayItem.disabled {
    background-color: var(--background-neutral-secondary);
    filter: brightness(0.7);
}

.monthDayItem:last-child {
    border-color: transparent;
}

.monthDayItem:hover {
    background-color: var(--neutral-800);
}

.monthDayItem.presentDay {
    background-color: #ffcccb;
}

/* Stuff inside month item */

/* Event item */

.monthEventItem {
    /* to make ::before work */
    position: relative;

    margin: 0.25rem;

    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;

    padding-left: 0.4rem;

    border-radius: 4px;
    background-color: white;
    overflow: hidden;

    cursor: pointer;
    user-select: none;

    transition:
        scale 250ms ease-out,
        filter 250ms ease-out;
}

.monthEventItem::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    /* Lighten chosen background color, since background is white */
    opacity: 0.3;
    background-color: var(--eventBackground);
}

.monthEventItem::after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    /* put a line at the left, which will get cropped by round corner, and not effected by background transparency */
    width: 100%;
    height: 100%;

    border-left: 3px solid var(--eventBackground);
}

.monthEventItem:hover {
    scale: 1.1;
    filter: brightness(1.05);
}

/* month day label */

.monthDayLabel {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    margin: 4px;

    font-size: 14px;

    border-radius: 50%;

    user-select: none;
    transition:
        background-color 200ms ease-out,
        color 200ms ease-out;
}

.monthDayLabel.selected {
    background-color: var(--background-brand-secondary);
}
