.field {
    display: flex;
    flex-direction: column;
}

.hasLength {
    max-width: 480px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    min-height: 1rem;
    padding-top: 0.2rem;
    font-size: smaller;
    line-height: 1rem;
}

.error {
    visibility: hidden;
    color: var(--color-danger-400);
}

.length {
    color: grey;
    margin-left: auto;
    text-align: right;
}

.field:has(.textarea:is(:user-invalid, :invalid:not(:placeholder-shown)))
    .error,
form[data-validated] .field:has(.textarea:invalid) .error {
    visibility: visible;
}

.textarea {
    border: 1px solid var(--border-neutral-secondary);
    background-color: var(--background-neutral-secondary);
    color: #fff;
}

.textarea::placeholder {
    color: var(--text-secondary);
    white-space: pre-wrap;
}

.textarea:focus {
    border-color: var(--border-brand-primary);
    background-color: var(--background-brand-focus);
}

.textarea:is(:user-invalid, :invalid:not(:placeholder-shown)),
form[data-validated] .textarea:invalid {
    border-color: var(--danger-500) !important;
}
