.hasLength::after {
    display: block;
    content: var(--length);
    color: grey;
    font-size: smaller;
    align-self: end;
}

.hasLength {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    /* width: max-content; */
}

.hasLength > textarea:user-invalid {
    border-color: var(--danger-500);
}

.textarea {
    border: 1px solid var(--border-neutral-secondary);
    background-color: var(--background-neutral-secondary);
    color: #fff;
}

.textarea:focus {
    border-color: var(--border-brand-primary);
    background-color: var(--background-brand-focus);
}
