.scheduleRootWrapper {
    --border: 1px solid var(--border-neutral-tertiary);
    --rowHeight: 60px;
    --minColWidth: 150px;
    --headerHeight: 24px;

    border: 1px solid var(--border-neutral-secondary);
    border-radius: 10px;
    overflow: hidden;

    width: 100%;
    height: 100%;
    /* max-height: 100%; */
}
.scheduleRoot {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    scrollbar-width: thin;
}

.scheduleContainer {
    height: fit-content;

    display: flex;
    flex-direction: row;
}

.timeColumn {
    display: flex;
    flex-direction: column;

    border-right: var(--border);
    box-sizing: border-box;

    min-width: 50px;
    height: fit-content;

    position: sticky;
    left: 0;
    background-color: var(--neutral-900);
    z-index: 3;
}

.timeLabel {
    min-height: var(--rowHeight);
    border-bottom: var(--border);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0.25rem 0.75rem;
    font-size: 14px;
}

.timeLabel:last-child {
    border: none;
}

.header {
    height: var(--headerHeight);
    border-bottom: var(--border);
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 30;
    background-color: var(--neutral-900);

    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.dayColumn {
    flex: 1;
    min-width: var(--minColWidth);
    border-right: var(--border);
    background-color: var(--background-neutral-secondary);
    height: auto;
}

.dayColumnContent {
    /* background to draw lines */
    background-size: 100% var(--rowHeight);
    background-repeat: repeat;
    background-image: linear-gradient(
        to top,
        var(--border-neutral-secondary) 1px,
        transparent 1px
    );

    height: calc(100% - var(--headerHeight));

    display: flex;
    flex-direction: row;
    align-items: stretch;

    position: relative;
}

.dayEventColumn {
    /* to provide an anchor for all the position abs children */
    position: relative;
    flex: 1;
}

.dayEvent {
    border-radius: 5px;
    overflow: hidden;

    position: absolute;

    --margin: 0.15rem;
    /* fake margin */
    left: var(--margin);
    /* top to be controlled by js */
    top: calc(var(--top) + var(--margin));
    height: calc(var(--height) - var(--margin) * 2);
    width: calc(100% - var(--margin) * 2);

    padding: 0.2rem 0.5rem;
    background-color: var(--neutral-800);

    transition: filter 400ms ease-out;
}

.dayEvent::after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-left: 3px solid var(--color);
}

.dayEvent::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color);
    z-index: 1;
    opacity: 0.3;
}

.dayEvent:hover,
.dayEvent:active {
    min-height: fit-content;
    z-index: 10;
}

.dayEvent:hover {
    filter: brightness(1.2);
}
.dayEvent:active {
    filter: brightness(0.9);
}

.dayEventContent {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.dayEventLine {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dayColumn:last-child {
    border: none;
}

.timeMarker {
    position: absolute;
    left: 0;
    top: var(--top);
    z-index: 2;

    width: 100%;
    border-bottom: 2px solid #ff4d4d99;
    box-sizing: border-box;
}

.timeMarker::before {
    content: '';

    position: absolute;
    right: 100%;
    top: 0;
    z-index: -1;

    width: 500%;
    border-bottom: 2px #ff4d4d99 dashed;
}

.timeText {
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: #ff4d4d;
    padding: 0.1rem 0.2rem;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
