.hasError,
.hasLength {
    padding-bottom: 1rem;
    position: relative;
}

.hasError::before {
    content: var(--errMsg);
    color: red;

    position: absolute;
    left: 0;
    bottom: 0;
}

.hasLength::after {
    content: var(--lengthMsg);
    position: absolute;
    right: 0.5rem;
    border: 0;

    color: grey;
    font-size: smaller;
}

.textinput:user-invalid {
    outline: 2px solid red;
}
