.hasLength:not(:has(.textinput:user-invalid)) {
    padding-bottom: 1.5rem;
}

.hasLength {
    position: relative;
}

.hasLength::before {
    content: var(--lengthMsg);
    position: absolute;
    right: 0rem;
    top: 2.6rem;
    border: 0;

    color: grey;
    font-size: smaller;
}

.textinput:user-invalid,
.textinput:invalid:not(:placeholder-shown) {
    outline: 2px solid red;
}

.inputHolder:has(.textinput:user-invalid)::after,
.inputHolder:has(.textinput:invalid:not(:placeholder-shown))::after {
    content: var(--errMsg);
    color: red;
    font-size: smaller;
    max-width: calc(100% - 2rem);
    line-height: 1rem;
    display: block;
    padding-top: 0.2rem;
}

.inputHolder {
    color: black;
}
