/* global stuff */

.hasEvent {
    position: relative;
    overflow: hidden;
    background-color: red;
}

.hasEvent::after {
    content: '';
    position: absolute;
    left: auto;
    right: auto;
    bottom: 4px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}
